HOST_IP=127.0.0.1

METABASE_USER=metabase
METABASE_PASSWORD=mysecretpassword
METABASE_DB=metabasedb

GARAGE_ADMIN_TOKEN:supersecretadmintoken
GARAGE_RPC_SECRET:etsupersecretsupersecretsupersecretsupersecretsupersecr
GARAGE_BUCKET:prefectbucket

POSTGRES_LAKEHOUSE_USER=postgres
POSTGRES_LAKEHOUSE_PASSWORD=postgres
POSTGRES_LAKEHOUSE_DB=postgres
