HOST_IP=127.0.0.1

METABASE_USER=metabase
METABASE_PASSWORD=mysecretpassword
METABASE_DB=metabasedb

GARAGE_RPC_SECRET=garagerpcsecretgaragerpcsecretgaragerpcsecretgaragerpcsecretgara
GARAGE_ADMIN_SECRET=superadminsecret
GARAGE_DEFAULT_BUCKET=lakebucket
GARAGE_DEFAULT_ACCESS_KEY=garagedefaultaccesskeygaragedefaul
GARAGE_DEFAULT_SECRET_KEY=garagedefaultsecretkeygaragedefaultsecretkeygaragedefaultsecretk

POSTGRES_LAKEHOUSE_USER=postgres
POSTGRES_LAKEHOUSE_PASSWORD=postgres
POSTGRES_LAKEHOUSE_DB=postgres
POSTGRES_LAKEHOUSE_HOST=postgres-lakehouse
